.footer {
  position: relative;
  padding-top: 52px;
  padding-bottom: 80px;
  ul {
    list-style: none;
  }
  @include mobile {
    padding-top: 40px;
    padding-bottom: 56px;
  }
}

.community {
  color: $gray-200;
  @include pad {
    flex-direction: column;
  }
  @include mobile {
    text-align: center;
  }
}

.icons {
  font-size: 30px;
}

.footer-navbar {
  width: 196px;
  @include mobile {
    text-align: center;
  }
}

.bg-field {
  position: absolute;
  bottom: 0;
  height: 1256px;
  width: 100%;
  z-index: -2;
  @include mobile {
    height: 1820px;
    background-position: center;
    background-size: cover;
  }
}

.mask {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #212121b2;
  @include pad {
    height: 500px;
    background-position: center;
    background-size: cover;
  }
  @include mobile {
    height: 480px;
    background-position: center;
    background-size: cover;
  }
}