@import 'bootstrap/scss/functions';
@import "./variables.scss";
@import "./mixin.scss";
@import 'bootstrap/scss/bootstrap';

@import "./base/base.scss";

@import "./about-us.scss";
@import "./Footer.scss";
@import "./Header.scss";
@import "./Home.scss";
@import "./ProductShowcase.scss";