@import url("https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap");

@import 'bootstrap/scss/functions';
@import "./variables.scss";
@import "./mixin.scss";
@import 'bootstrap/scss/bootstrap';

@import "./base/base.scss";

@import "./about-us.scss";
@import "./Footer.scss";
@import "./Header.scss";
@import "./Home.scss";
@import "./about-us.scss";
@import "./faq.scss";
@import "./ProductShowcase.scss";
@import "./floatingbuttons.scss";
@import "./adpopup.scss";
@import "./Products.scss";
@import "./Contact.scss";
@import "./partners.scss";
@import "./notfound.scss";
@import "./news.scss";
@import "./news-detail.scss";